body {
   background: rgb(32, 32, 32) ;
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    color: rgb(143, 241, 220);
    font-size: 100px;
}

h3 {
    font-family: 'Inconsolata', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    max-width: 200px;
    width: 100%;
    margin : 0;
}

#busqueda {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 7em;
    border: 1em;
}

#caja {
    border: none;
    padding: 15px 200px 15px 15px;
    border-radius: 10px 0px 0px 10px;
    font-size: 15px;
    text-align: left;

}

#boton{
    border: none;
    padding: 15px  15px;
    border-radius: 0px 10px 10px 0px ;
    background: #612940;
    font-size: 15px;
    color: white;

}

#boton:hover {
    background: #9D6381;
}

#resultados {
    justify-content: center;
    margin-top: 3em;
    margin-right: 1em;
    text-align: center;
}

#resultados img {
justify-content: space-between;
}

#more {
   margin: 0px 100px 0 100px ;
}

@media (max-width: 600px) {
    h1{
        font-size: 60px;
    }

  #caja { padding: initial;
    text-align: center;
    font-size: 100%;
  }
}

